<div class="container">
  <h1>Scoring System FAQ</h1>
  <p><u>These are current TOP 10 participants from last week’s study. You will be able to see where you place in the leaderboard at the end of this week.</u></p>
  <bl></bl>
  <p>Q: How do I earn more points?</p>
  <p>A: By performing acts of kindness. Each kind act performed is worth 20 points</p>
</div>

<div class="container">
  <table class='table'>
    <thead>
      <tr>
        <th class="leaderBoard">#</th>
        <th class="leaderBoard">Username</th>
        <th class="leaderBoard">Kind Rating</th>
      </tr>
    </thead>

    <tbody>
      <tr class="rank1">
        <th scope="row">1</th>
        <td>Evermore</td>
        <td>480</td>
      </tr>

      <tr class="rank2">
        <th scope="row">2</th>
        <td>Sinatra880</td>
        <td>400</td>
      </tr>

      <tr class="rank3">
        <th scope="row">3</th>
        <td>mxstoler</td>
        <td>360</td>
      </tr>


      <tr>
        <th scope="row">4</th>
        <td>Ramenboy650</td>
        <td>340</td>
      </tr>


      <tr>
        <th scope="row">4</th>
        <td>Joe B.</td>
        <td>340</td>
      </tr>


      <tr>
        <th scope="row">6</th>
        <td>eSTELLAr</td>
        <td>320</td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>Tammy C.S.</td>
        <td>280</td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>Enjoy Chris S.</td>
        <td>260</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>Pikapikapika</td>
        <td>240</td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>C.C. Callins</td>
        <td>240</td>
      </tr>

    </tbody>


  </table>
</div>
