body {
  background: url("symphony.png");
}

.leaderBoard {
  color: #666;
  font-family: Roboto, sans-serif;
}

.rank1 {
  background-color: #FFD700;
  font-weight: bold;
}


.rank2 {
  font-weight: bold;
  background-color: #cccccc;
}


.rank3 {
  font-weight: bold;
  background-color: #CD7F32;
}
